:root{
    --gray : #666666;
    --gray2: #d9d9d9;
    --gray3 : #262626;
}
body{
    background-image: url("images/foto2.jpg");
    background-repeat: repeat; 
    /* max-width: 100%; */
    /* height: auto; */
    /* background-attachment: fixed; */
}
.isi{
    color: white;
    text-align: center;
}
.biodata{
    border-style: solid;
    border-color: white ;
}
.nama{
    text-shadow: 2px 2px 4px white;
}